.filter-page .product-count {
    font-size: .875rem;
}

#sort_data_id {
    width: fit-content;
}

label.Color {
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

.mobile-sorting {
    border-top: 1px solid var(--bs-secondary);
    border-bottom: 1px solid var(--bs-secondary);
}

.mobile-sorting .btn {
    border-color: transparent !important;
}

.card-text.d-flex {
    gap: 10px;
}

.noui-wrapper input[type="text"] {
    font-size: smaller;
    border-radius: 0px;
}

.noui-slider-range {
    height: 8px;
}

.noui-slider-range.noUi-target {
    background: #90A3BF;
    border: none;
    box-shadow: none;
}

.noui-slider-range .noUi-connect {
    background: var(--bs-primary);
}

.noui-slider-range .noUi-handle {
    height: 20px;
    width: 20px;
    top: -7px;
    right: -9px;
    border: 2px solid var(--bs-primary);
    border-radius: 50%;
    box-shadow: none;
    background: var(--bs-white);
}

.noui-slider-range .noUi-handle:after,
.noui-slider-range .noUi-handle:before {
    display: none;
}